body {
  display: flex;
  justify-content: center;
  background: black;
}

body > * {
  margin: 20px 50px;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.left > * {
  padding-top: 30px;
}

#instructions{
  color: white;
  font-family: courier;
  padding: 20px;
  padding-top: 40px;
  padding-left: 50px;
  margin: 0 auto;

}


#pacman {
  padding-top: 10vh;
  background-color: black;
  display: block;
  height: 660px;
  width: 570px;
}

#pacman > * {
  width: 30px;
  height: 30px;
  display: inline-block;
  float: left;
  padding: 0;
  z-index: 2;
}

#scoreboard {
  margin: 0 auto;
  background-color: black;
  width: 400px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  padding-top: 0;
  margin-top: 30px;
  border: 0.5px solid yellow;
}

#scoreboard > * {
  color: white;
  font-size: 24px;
  padding-top: 15px;
  font-family: courier;
}

#buttons {
  padding: 0;
  box-sizing: border-box;
  padding-left: 43%;
  margin: 0 auto;
}

.right {
  margin: 0 auto;
}

#buttons > * {
  padding: 15px;
}

#buttons i {
  font-size: 35px;
}

.lives > img {
  width: 30px;
  height: 30px;
}

.wall {
  background-color: blue;
}

.dot {
  background-image: url("https://res.cloudinary.com/deor0br3s/image/upload/v1523992287/Untitled_drawing_4.png");
  background-size: 8.5px 8.5px;
  background-repeat: no-repeat;
  background-position: bottom 11px right 11px;
}

.power-pellet {
  background-image: url("https://media.giphy.com/media/1Bg8cPljtSccMrkB65/giphy.gif");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: bottom 8px right 8px;
}

.pacman-right {
  background-image: url("https://media.giphy.com/media/u49UDGO7rAY3B6eLrg/giphy.gif");
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: left 3px top 3px;
}

.pacman-left {
  background-image: url("https://media.giphy.com/media/u49UDGO7rAY3B6eLrg/giphy.gif");
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: left 3px top 3px;
  transform: rotate(180deg);
}

.pacman-up {
  background-image: url("https://media.giphy.com/media/u49UDGO7rAY3B6eLrg/giphy.gif");
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: left 3px top 3px;
  transform: rotate(-90deg);
}

.pacman-down {
  background-image: url("https://media.giphy.com/media/u49UDGO7rAY3B6eLrg/giphy.gif");
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: left 3px top 3px;
  transform: rotate(90deg);
}

.pinky {
  background-image: url("https://res.cloudinary.com/deor0br3s/image/upload/v1523921736/ghost-pinky.jpg");
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: left 3px top 3px;
}

.blinky {
  background-image: url("https://res.cloudinary.com/deor0br3s/image/upload/v1523921736/ghost-blinky.jpg");
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: left 3px top 3px;
}

.inky {
  background-image: url("https://res.cloudinary.com/deor0br3s/image/upload/v1523921736/ghost-inky.jpg");
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: left 3px top 3px;
}

.clyde {
  background-image: url("https://res.cloudinary.com/deor0br3s/image/upload/v1523921736/ghost-clyde.jpg");
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: left 3px top 3px;
}

.blue-ghost {
  background-image: url("https://res.cloudinary.com/deor0br3s/image/upload/v1524010091/pac_man__ghosts_and_guns_by_53xy83457-d5e95ws.png");
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: left 3px top 3px;
}

i {
  font-size: 30px;
  color: white;
  cursor: pointer;
}

#mute.pressed {
  color: #ed3838;
}

#sound-on.pressed {
  color: #4169E1;
}

.title {
  width: 40vw;
}

li {
  line-height: 30px;
}

p {
  line-height: 20px;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.scoring-row {
  display: flex;
}

.my-links {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
}
.my-links i {
  width: 40px;
  height: 40px;
  font-size: 35px;
  padding: 0px 20px;
}

#maze-overlay, #game-over, #you-won {
  background: black;
  width: 350px;
  height: 200px;
  position: fixed;
  right: 13vw;
  top: 33vh;
  font-family: courier;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.88;
}

h1 {
  font-size: 40px;
  padding-top: 0;
  margin-top: 0;
}

#maze-overlay.hidden, #game-over.hidden, #you-won.hidden {
  display: none;
}

.score-and-sound {
  display: flex;
  flex-direction: column;
  align-content: center;
}

h2 {
  margin-bottom: 0;
}

ul {
  margin-top: 5px;
}
