body {
  display: flex;
  justify-content: center;
}

body > * {
  margin: 20px 50px;
}

.right {
  display: flex;
  flex-direction: column;
}

.right > * {
  padding-top: 30px;
}

#pacman {
  background-color: black;
  display: block;
  height: 770px;
  width: 665px;
}

#pacman > * {
  width: 35px;
  height: 35px;
  display: inline-block;
  float: left;
  padding: 0;
  z-index: 2;
}

#scoreboard {
  background-color: black;
  height: 275px;
  width: 400px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 50px;
}

#scoreboard > * {
  color: white;
  font-size: 24px;
  padding-top: 15px;
  font-family: tahoma;
}

#buttons {
  margin: 0 auto;
}

#buttons > * {
  padding: 15px;
}

.lives > img {
  width: 30px;
  height: 30px;
}

.wall {
  background-color: blue;
}

.dot {
  background-image: url("https://res.cloudinary.com/deor0br3s/image/upload/v1523992287/Untitled_drawing_4.png");
  background-size: 8.5px 8.5px;
  background-repeat: no-repeat;
  background-position: bottom 13px right 13px;
}

.power-pellet {
  background-image: url("https://media.giphy.com/media/1Bg8cPljtSccMrkB65/giphy.gif");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: bottom 8px right 8px;
}

.pacman-right {
  background-image: url("https://media.giphy.com/media/u49UDGO7rAY3B6eLrg/giphy.gif");
  background-size: 28px 28px;
  background-repeat: no-repeat;
  background-position: left 3px top 3px;
}

.pacman-left {
  background-image: url("https://media.giphy.com/media/u49UDGO7rAY3B6eLrg/giphy.gif");
  background-size: 28px 28px;
  background-repeat: no-repeat;
  background-position: left 3px top 3px;
  transform: rotate(180deg);
}

.pacman-up {
  background-image: url("https://media.giphy.com/media/u49UDGO7rAY3B6eLrg/giphy.gif");
  background-size: 28px 28px;
  background-repeat: no-repeat;
  background-position: left 3px top 3px;
  transform: rotate(-90deg);
}

.pacman-down {
  background-image: url("https://media.giphy.com/media/u49UDGO7rAY3B6eLrg/giphy.gif");
  background-size: 28px 28px;
  background-repeat: no-repeat;
  background-position: left 3px top 3px;
  transform: rotate(90deg);
}

.pinky {
  background-image: url("https://res.cloudinary.com/deor0br3s/image/upload/v1523921736/ghost-pinky.jpg");
  background-size: 28px 28px;
  background-repeat: no-repeat;
  background-position: left 3px top 3px;
}

.blinky {
  background-image: url("https://res.cloudinary.com/deor0br3s/image/upload/v1523921736/ghost-blinky.jpg");
  background-size: 28px 28px;
  background-repeat: no-repeat;
  background-position: left 3px top 3px;
}

.inky {
  background-image: url("https://res.cloudinary.com/deor0br3s/image/upload/v1523921736/ghost-inky.jpg");
  background-size: 28px 28px;
  background-repeat: no-repeat;
  background-position: left 3px top 3px;
}

.clyde {
  background-image: url("https://res.cloudinary.com/deor0br3s/image/upload/v1523921736/ghost-clyde.jpg");
  background-size: 28px 28px;
  background-repeat: no-repeat;
  background-position: left 3px top 3px;
}

.blue-ghost {
  background-image: url("https://res.cloudinary.com/deor0br3s/image/upload/v1524010091/pac_man__ghosts_and_guns_by_53xy83457-d5e95ws.png");
  background-size: 28px 28px;
  background-repeat: no-repeat;
  background-position: left 3px top 3px;
}

i {
  color: gray;
  cursor: pointer;
}

.pressed {
  color: blue;
}
